openruth.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by Dansk Bibliotekscenter A/S (Dansk Bibliotekscenter A/S) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:or="http://oss.dbc.dk/ns/openruth" targetNamespace="http://oss.dbc.dk/ns/openruth" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="agencyCountersRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service request for information about an agency's counters</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyId"/>
				<xs:element ref="or:callback" minOccurs="0"/>
				<xs:element ref="or:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="agencyCountersResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="or:agencyError"/>
				<xs:element ref="or:agencyCounters"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="bookingInfoRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service request for information about number of copies of an item available at various times. If an active bookingId is included the number of copies included in that booking will be taken into count.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyId"/>
				<xs:element ref="or:itemId"/>
				<xs:element ref="or:itemSerialPartId" minOccurs="0"/>
				<xs:element ref="or:bookingId" minOccurs="0"/>
				<xs:element ref="or:callback" minOccurs="0"/>
				<xs:element ref="or:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bookingInfoResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="or:bookingInfo"/>
				<xs:element ref="or:bookingError"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="bookItemRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service request for booking an item</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyId"/>
				<xs:element ref="or:userId"/>
				<xs:element ref="or:agencyCounter"/>
				<xs:element ref="or:bookingNote"/>
				<xs:element ref="or:bookingStartDate"/>
				<xs:element ref="or:bookingEndDate"/>
				<xs:element ref="or:bookingTotalCount"/>
				<xs:element ref="or:itemId"/>
				<xs:element ref="or:itemSerialPartId" minOccurs="0"/>
				<xs:element ref="or:callback" minOccurs="0"/>
				<xs:element ref="or:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bookItemResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="or:bookingOk"/>
				<xs:element ref="or:bookingError"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancelBookingRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service request for cancelling a booking of an item</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyId"/>
				<xs:element ref="or:bookingId"/>
				<xs:element ref="or:callback" minOccurs="0"/>
				<xs:element ref="or:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancelBookingResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="or:bookingOk"/>
				<xs:element ref="or:bookingError"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancelOrderRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service request for deleting a reservation</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyId"/>
				<xs:element ref="or:orderId"/>
				<xs:element ref="or:callback" minOccurs="0"/>
				<xs:element ref="or:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancelOrderResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="or:cancelOrderOk"/>
				<xs:element ref="or:cancelOrderError"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="holdingsRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service request for holdings information (agency info, location, availability etc.) about an given item. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyId"/>
				<xs:element ref="or:showComingCopies" minOccurs="0"/>
				<xs:element ref="or:itemId" maxOccurs="unbounded"/>
				<xs:element ref="or:callback" minOccurs="0"/>
				<xs:element ref="or:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="holdingsResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="or:holding" maxOccurs="unbounded"/>
				<xs:element ref="or:agencyError"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderItemRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service request for making a reservation in the local system</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyId"/>
				<xs:element ref="or:userId"/>
				<xs:element ref="or:orderNote" minOccurs="0"/>
				<xs:element ref="or:orderLastInterestDate"/>
				<xs:element ref="or:agencyCounter"/>
				<xs:element ref="or:orderOverRule"/>
				<xs:element ref="or:orderPriority"/>
				<xs:element ref="or:orderEachItem" minOccurs="0"/>
				<xs:element ref="or:orderItemId" maxOccurs="unbounded"/>
				<xs:element ref="or:callback" minOccurs="0"/>
				<xs:element ref="or:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderItemResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="or:orderItem" maxOccurs="unbounded"/>
				<xs:element ref="or:orderItemError"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="renewLoanRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service request for renewing one or more loans</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyId"/>
				<xs:element ref="or:userId"/>
				<xs:element ref="or:copyId" maxOccurs="unbounded"/>
				<xs:element ref="or:callback" minOccurs="0"/>
				<xs:element ref="or:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="renewLoanResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="or:renewLoan" maxOccurs="unbounded"/>
				<xs:element ref="or:renewLoanError"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateBookingRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service request for updating details about a booking</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyId"/>
				<xs:element ref="or:bookingId"/>
				<xs:element ref="or:agencyCounter" minOccurs="0"/>
				<xs:element ref="or:bookingNote" minOccurs="0"/>
				<xs:element ref="or:bookingStartDate" minOccurs="0"/>
				<xs:element ref="or:bookingEndDate" minOccurs="0"/>
				<xs:element ref="or:bookingsCount" minOccurs="0"/>
				<xs:element ref="or:callback" minOccurs="0"/>
				<xs:element ref="or:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateBookingResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="or:bookingOk"/>
				<xs:element ref="or:bookingError"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateOrderRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service request for updating details about a reservation in the local system</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyId"/>
				<xs:element ref="or:orderId"/>
				<xs:element ref="or:orderNote" minOccurs="0"/>
				<xs:element ref="or:orderLastInterestDate" minOccurs="0"/>
				<xs:element ref="or:agencyCounter" minOccurs="0"/>
				<xs:element ref="or:callback" minOccurs="0"/>
				<xs:element ref="or:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateOrderResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="or:updateOrderOk"/>
				<xs:element ref="or:updateOrderError"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateUserInfoRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service request for changing userinfo (pincode, contact, preferences etc.)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyId"/>
				<xs:element ref="or:userId"/>
				<xs:element ref="or:userPinCodeOld" minOccurs="0"/>
				<xs:element ref="or:userPinCodeNew" minOccurs="0"/>
				<xs:element ref="or:userEmail" minOccurs="0"/>
				<xs:element ref="or:userMobilePhone" minOccurs="0"/>
				<xs:element ref="or:userPreReturnReminder" minOccurs="0"/>
				<xs:element ref="or:userFirstName" minOccurs="0"/>
				<xs:element ref="or:userLastName" minOccurs="0"/>
				<xs:element ref="or:agencyCounter" minOccurs="0"/>
				<xs:element ref="or:callback" minOccurs="0"/>
				<xs:element ref="or:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateUserInfoResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="or:updateUserInfoOk"/>
				<xs:element ref="or:userError"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="userCheckRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service request for performing a user check (whether the user exists in the system and user's various rights and parameters)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyId"/>
				<xs:element ref="or:userId"/>
				<xs:element ref="or:userPinCode"/>
				<xs:element ref="or:callback" minOccurs="0"/>
				<xs:element ref="or:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="userCheckResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="or:userCheck"/>
				<xs:element ref="or:userError"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="userPaymentRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service request for paying user fines</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyId"/>
				<xs:element ref="or:userId"/>
				<xs:element ref="or:fineAmountPaid"/>
				<xs:element ref="or:callback" minOccurs="0"/>
				<xs:element ref="or:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="userPaymentResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="or:userPaymentOk"/>
				<xs:element ref="or:userPaymentError"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="userStatusRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service reqeust for a user's status, includings loans, orders, ILLs and fines</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyId"/>
				<xs:element ref="or:userId"/>
				<xs:element ref="or:userPinCode"/>
				<xs:element ref="or:callback" minOccurs="0"/>
				<xs:element ref="or:outputType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="userStatusResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="or:userStatus"/>
				<xs:element ref="or:userError"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="agencyBranchId">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifier of a branch</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyBranchCode"/>
				<xs:element ref="or:agencyBranchName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="agencyBranchCode" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Branch code</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="agencyBranchName" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Name of a branch</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="agencyCollectionId">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifier of a collection</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyCollectionCode"/>
				<xs:element ref="or:agencyCollectionName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="agencyCollectionCode" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Collection code</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="agencyCollectionName" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Name of a collection</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="agencyCounter" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifier of a service counter at a given agency</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="agencyCounterName" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Full name of an agencyCounter</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="agencyCounters">
		<xs:annotation>
			<xs:documentation xml:lang="en">Counters related to a given agencyId</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyId"/>
				<xs:element ref="or:agencyName"/>
				<xs:element ref="or:orderActivePeriod"/>
				<xs:element ref="or:agencyCounterInfo" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="agencyCounterInfo">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about a counter</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyCounter"/>
				<xs:element ref="or:agencyCounterName"/>
				<xs:element ref="or:agencyDefaultCounter"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="agencyDefaultCounter" type="xs:boolean">
		<xs:annotation>
			<xs:documentation xml:lang="en">Boolean indicating whether a counter is default service counter at a given agency</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="agencyDepartmentId">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifier of a department</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyDepartmentCode"/>
				<xs:element ref="or:agencyDepartmentName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="agencyDepartmentCode" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Department code</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="agencyDepartmentName" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Name of a department</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="agencyError" type="or:agencyErrorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Error messages related to requests for agency information</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="agencyFullName" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Full name of a given agency</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="agencyHoldings">
		<xs:annotation>
			<xs:documentation xml:lang="en">Agency related info used in holdingsResponse</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyName"/>
				<xs:element ref="or:agencyFullName"/>
				<xs:element ref="or:agencyId"/>
				<xs:element ref="or:copiesAvailableTotal"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="agencyId" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Unique identifier of an agency</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="agencyName" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Name of a given agency</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="agencyPlacementId">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifier of a placement</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyPlacementCode"/>
				<xs:element ref="or:agencyPlacementName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="agencyPlacementCode" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placement code</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="agencyPlacementName" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Placement name</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="booking">
		<xs:annotation>
			<xs:documentation xml:lang="en">Details about a booking</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:bookingId"/>
				<xs:element ref="or:itemDisplayTitle"/>
				<xs:element ref="or:bookingTotalCount"/>
				<xs:element ref="or:bookingFetchedCount"/>
				<xs:element ref="or:bookingLoanedCount"/>
				<xs:element ref="or:bookingReturnedCount"/>
				<xs:element ref="or:bookingStartDate"/>
				<xs:element ref="or:bookingEndDate"/>
				<xs:element ref="or:bookingStatus"/>
				<xs:element ref="or:agencyCounter"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bookingAllowed" type="xs:boolean">
		<xs:annotation>
			<xs:documentation xml:lang="en">Boolean indicating whether booking of a given item is allowed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bookingChange">
		<xs:annotation>
			<xs:documentation xml:lang="en">Changes in a potential booking, used in bookingInfoResponse</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:bookingChangeCount"/>
				<xs:element ref="or:bookingChangeDate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bookingChangeCount" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Change in number of copies available for booking (related to bookingChangeDate)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bookingChangeDate" type="xs:date">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date when number of available copies available for booking changes (related to bookingChangeCount)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bookingEndDate" type="xs:date">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date when a booking expires</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bookingError" type="or:bookingErrorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Error related to bookings</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bookingFetchedCount" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Number of copies fetched of a booked item</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bookingId" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation xml:lang="en">dateTime stamp serving as a unique local identifier of a booking</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bookingInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:bookingInfoTotalCount"/>
				<xs:element ref="or:bookingChange" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bookingInfoTotalCount" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Total number of copies available for booking</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bookingLoanedCount" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Number of copies of a given booking already on loan by user</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bookingNote" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Text note related to a booking</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bookingOk" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Message that bookItemRequest has been accepted</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bookingReturnedCount" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Number of copies of a given booking that user has returned</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bookingStartDate" type="xs:date">
		<xs:annotation>
			<xs:documentation xml:lang="en">First active day of a booking</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bookingStatus" type="or:bookingStatusType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Status of a booking</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bookingTotalCount" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Total number of copies of a booking</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bookings">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about bookings</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:booking" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bookingsCount" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Number of bookings on a given item</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="callback" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">If outputType=json.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="cancelOrderError" type="or:cancelOrderErrorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Error messages related to cancelOrder</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="cancelOrderOk">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicator that cancelOrderRequest has been accepted</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="copiesAvailableCount" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Number of available copies of a given item</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="copiesAvailableTotal" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Total number of copies of a given item available at an agency</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="copiesCount" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Number of copies held at a given location</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="copyId" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Unique identifier of a copy of an item</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fine">
		<xs:annotation>
			<xs:documentation xml:lang="en">Details about a fine</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:fineDate"/>
				<xs:element ref="or:agencyCounter"/>
				<xs:element ref="or:itemDisplayTitle"/>
				<xs:element ref="or:fineAmount"/>
				<xs:element ref="or:fineAmountPaid"/>
				<xs:element ref="or:fineType"/>
				<xs:element ref="or:fineInvoiceNumber"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fineAmount" type="xs:decimal">
		<xs:annotation>
			<xs:documentation xml:lang="en">Amount of a fine</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fineAmountPaid" type="xs:decimal">
		<xs:annotation>
			<xs:documentation xml:lang="en">Amount paid of a fine</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fineDate" type="xs:date">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date that a fine has been created in local system</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fineInvoiceNumber" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Invoice number of a fine</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fineType" type="or:fineTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Type of fine</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fines">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about a user's fines</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:fine" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="holding">
		<xs:annotation>
			<xs:documentation xml:lang="en">Holdings on a given item (used in holdingsResponse)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:itemId"/>
				<xs:element ref="or:holdingNote" minOccurs="0"/>
				<xs:element ref="or:agencyHoldings"/>
				<xs:element ref="or:itemHoldings" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="holdingNote" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Note on holding (PIF note)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="illOrder">
		<xs:annotation>
			<xs:documentation xml:lang="en">Details about an ILL order</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:itemDisplayTitle"/>
				<xs:element ref="or:itemAuthor" minOccurs="0"/>
				<xs:element ref="or:itemTitle" minOccurs="0"/>
				<xs:element ref="or:itemPublicationYear" minOccurs="0"/>
				<xs:element ref="or:itemSerialPartTitle" minOccurs="0"/>
				<xs:element ref="or:illProviderAgencyId"/>
				<xs:element ref="or:illStatus"/>
				<xs:element ref="or:illOrderDate"/>
				<xs:element ref="or:orderExpectedAvailabilityDate"/>
				<xs:element ref="or:orderId"/>
				<xs:element ref="or:orderDate"/>
				<xs:element ref="or:orderLastInterestDate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="illOrders">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about a user's ILL orders</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:illOrder" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="illOrderDate" type="xs:date">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date when an ILL order has been placed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="illProviderAgencyId" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifier of provider agency for an ILL</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="illStatus" type="or:illStatusType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Status of an ILL</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="itemAuthor" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Author of an item (bibliographic info)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="itemComingLocation">
		<xs:annotation>
			<xs:documentation xml:lang="en">Availablity information about item not yet available at a given location</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyCollectionId"/>
				<xs:element ref="or:bookingAllowed"/>
				<xs:element ref="or:orderAllowed"/>
				<xs:element ref="or:agencyBranchId" minOccurs="0"/>
				<xs:element ref="or:agencyDepartmentId" minOccurs="0"/>
				<xs:element ref="or:agencyPlacementId" minOccurs="0"/>
				<xs:element ref="or:copiesCount"/>
				<xs:element ref="or:itemExpectedDeliveryDate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="itemDisplayTitle" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Title information (typically a one liner with author, title, publication year) on an item for display purposes</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="itemExpectedDeliveryDate" type="xs:date">
		<xs:annotation>
			<xs:documentation xml:lang="en">Expected date when a not yet available item is ready at a given location</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="itemExpectedAvailabilityDate">
		<xs:annotation>
			<xs:documentation xml:lang="en">Expected date when an item can be available for a user who has not already ordered the material</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="itemHoldings">
		<xs:annotation>
			<xs:documentation xml:lang="en">if itemHoldings is repeated, requested item is a serial</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:itemSerialPartId" minOccurs="0"/>
				<xs:element ref="or:itemSerialPartVolume" minOccurs="0"/>
				<xs:element ref="or:itemSerialPartIssue" minOccurs="0"/>
				<xs:element ref="or:ordersCount"/>
				<xs:element ref="or:bookingsCount"/>
				<xs:element ref="or:itemExpectedAvailabilityDate"/>
				<xs:element ref="or:itemLocation" maxOccurs="unbounded"/>
				<xs:element ref="or:itemComingLocation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="itemId" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Unique identifier of an item (eg. FAUST number)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="itemLocation">
		<xs:annotation>
			<xs:documentation xml:lang="en">Item availability related to a given collection (repeated for each location)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:agencyCollectionId"/>
				<xs:element ref="or:bookingAllowed"/>
				<xs:element ref="or:orderAllowed"/>
				<xs:element ref="or:agencyBranchId" minOccurs="0"/>
				<xs:element ref="or:agencyDepartmentId" minOccurs="0"/>
				<xs:element ref="or:agencyPlacementId" minOccurs="0"/>
				<xs:element ref="or:copiesAvailableCount"/>
				<xs:element ref="or:copiesCount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="itemPublicationYear" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Publication year of an item (bibliographic info)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="itemSerialPartTitle">
		<xs:annotation>
			<xs:documentation xml:lang="en">Partitle of a serial publication</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="itemSerialPartId" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifier of a part of periodcal or other serial publication. Used in relation with itemId. If 0, empty or not present, item is not part of a serial</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="itemSerialPartIssue" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Issue number of a periodical or other serial publication</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="itemSerialPartVolume" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Volume of a periodical or other serial publication</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="itemTitle" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Title of an item (bibliographic info)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="loan">
		<xs:annotation>
			<xs:documentation xml:lang="en">Details about a loan</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:itemDisplayTitle"/>
				<xs:element ref="or:itemAuthor" minOccurs="0"/>
				<xs:element ref="or:itemTitle" minOccurs="0"/>
				<xs:element ref="or:itemPublicationYear" minOccurs="0"/>
				<xs:element ref="or:copyId"/>
				<xs:element ref="or:loanDate"/>
				<xs:element ref="or:loanReturnDate"/>
				<xs:element ref="or:loanLastRenewedDate" minOccurs="0"/>
				<xs:element ref="or:loanStatus" minOccurs="0"/>
				<xs:element ref="or:loanRecallType" minOccurs="0"/>
				<xs:element ref="or:loanRecallDate" minOccurs="0"/>
				<xs:element ref="or:loanRenewable"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="loanCategories">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about a user's loans within different categories (eg. types of materials)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:loanCategory"/>
				<xs:element ref="or:loanCategoryCount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="loanCategory" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Loan category (eg. types of materials) used in relation with loanCategoryCount</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="loanCategoryCount" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Number of loans within a loanCategory</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="loanDate" type="xs:date">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date when an item has been lent by user</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="loanLastRenewedDate" type="xs:date">
		<xs:annotation>
			<xs:documentation xml:lang="en">The last time a given loan has been renewed by user</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="loanRecallDate" type="xs:date">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date when a loan has been recalled from user</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="loanRecallType" type="or:loanRecallTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Type of recall</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="loanRecallTypeCount" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">The number of recalls of a given type</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="loanRecallTypes">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about recalls on user's loans</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:loanRecallType"/>
				<xs:element ref="or:loanRecallTypeCount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="loanRenewable" type="or:loanRenewableType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicator whether a loan is renewable</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="loanReturnDate" type="xs:date">
		<xs:annotation>
			<xs:documentation xml:lang="en">Loan due date</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="loanStatus" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">The status of a loan (type is locally defined)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="loans">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about a user's loans</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:renewAllLoansAllowed"/>
				<xs:element ref="or:loanCategories" maxOccurs="unbounded"/>
				<xs:element ref="or:loanRecallTypes" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="or:loan" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderActivePeriod" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Number of days that a reservation is active at a given agency</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderAllowed" type="xs:boolean">
		<xs:annotation>
			<xs:documentation xml:lang="en">Boolean indicating whether reservation of an item is allowed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderArrived" type="xs:boolean">
		<xs:annotation>
			<xs:documentation xml:lang="en">Boolean indicating whether an order is available for pickup</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderDate" type="xs:date">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date when an order has been created in local system</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderEachItem" type="xs:boolean">
		<xs:annotation>
			<xs:documentation xml:lang="en">Boolean. If true a reservation shall be made for each item in request, if false (or not present) order is ready when first available item is fetched</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderExpectedAvailabilityDate" type="xs:date">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date when an order is expected to be ready for an user</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderFetchedDate" type="xs:date">
		<xs:annotation>
			<xs:documentation xml:lang="en">date when an ordered item has been fetched for the user</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderId" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation xml:lang="en">dateTime stamp serving as an unique local identifier of an order</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderItem">
		<xs:annotation>
			<xs:documentation xml:lang="en">Return information for orderItemResponse</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:orderItemId"/>
				<xs:choice>
					<xs:element ref="or:orderItemOk"/>
					<xs:element ref="or:orderItemError"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderItemError" type="or:orderItemErrorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Errors related to orderItemRequest</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderItemId">
		<xs:annotation>
			<xs:documentation xml:lang="en">Combination of itemId and optional serialPartId used when ordering items or serialParts</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:itemId"/>
				<xs:element ref="or:itemSerialPartId" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderItemOk">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicator that orderItemRequest is accepted</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderLastInterestDate" type="xs:date">
		<xs:annotation>
			<xs:documentation xml:lang="en">User's last day of interest in an order</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderNote" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Note on an order</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderOverRule" type="xs:boolean">
		<xs:annotation>
			<xs:documentation xml:lang="en">Boolean indicating whether order shall be placed even if it is against the agency's policy</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderPickUpDate" type="xs:date">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date when an order is ready for pickup</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderPickUpId" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifier used  to locate an order ready for pickup</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderPriority" type="or:orderPriorityType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Priority of an order</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderQuePosition" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about an user's position in the reservation que for a given item</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderType" type="or:orderTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Type of order</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orders">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about orders</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:ordersReady" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="or:ordersNotReady" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ordersCount" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Number of reservations on a given item</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ordersNotReady">
		<xs:annotation>
			<xs:documentation xml:lang="en">Details about orders that are not yet fullfilled/ready for pickup</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:itemDisplayTitle"/>
				<xs:element ref="or:itemAuthor" minOccurs="0"/>
				<xs:element ref="or:itemTitle" minOccurs="0"/>
				<xs:element ref="or:itemPublicationYear" minOccurs="0"/>
				<xs:element ref="or:itemSerialPartTitle" minOccurs="0"/>
				<xs:element ref="or:orderId"/>
				<xs:element ref="or:orderDate"/>
				<xs:element ref="or:orderLastInterestDate"/>
				<xs:element ref="or:orderPriority" minOccurs="0"/>
				<xs:element ref="or:orderQuePosition"/>
				<xs:element ref="or:agencyCounter"/>
				<xs:element ref="or:orderNote" minOccurs="0"/>
				<xs:element ref="or:orderType"/>
				<xs:element ref="or:orderExpectedAvailabilityDate" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ordersReady">
		<xs:annotation>
			<xs:documentation xml:lang="en">Details about orders that are fullfilled/ready for pickup</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:itemDisplayTitle"/>
				<xs:element ref="or:itemAuthor" minOccurs="0"/>
				<xs:element ref="or:itemTitle" minOccurs="0"/>
				<xs:element ref="or:itemPublicationYear" minOccurs="0"/>
				<xs:element ref="or:itemSerialPartTitle" minOccurs="0"/>
				<xs:element ref="or:agencyCounter"/>
				<xs:element ref="or:orderPickUpDate"/>
				<xs:element ref="or:orderFetchedDate"/>
				<xs:element ref="or:orderPickUpId" minOccurs="0"/>
				<xs:element ref="or:orderId"/>
				<xs:element ref="or:orderDate"/>
				<xs:element ref="or:orderArrived"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="outputType" type="or:outputTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">E.g. xml, json or php.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="renewAllLoansAllowed" type="xs:boolean">
		<xs:annotation>
			<xs:documentation xml:lang="en">Boolean indicating that user is allowed to renew all loans</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="renewLoanError" type="or:renewLoanErrorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Errors related to renewLoanRequest</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="renewLoan">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information used in renewLoanResponse</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:copyId"/>
				<xs:choice>
					<xs:element ref="or:renewLoanError"/>
					<xs:element ref="or:renewLoanOk"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="renewLoanOk" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicator that renewLoanRequest is accepted</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="showComingCopies" type="or:showComingCopiesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicator whether holdingsResponse shall include coming copies</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="updateOrderOk">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicator that updateOrderRequest is accepted</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="updateOrderError" type="or:updateOrderErrorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Errors related to updateUserInforequest</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="updateUserInfoOk">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicator that updateUserInfoRequest is accepted</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userAddress" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">User's post adress</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userAge" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">User's age</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userAttName" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Att. name for user</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userBirthYear" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">User's year of birth</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userBlocked" type="xs:boolean">
		<xs:annotation>
			<xs:documentation xml:lang="en">Boolean indicating whether user is blocked</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userBookingAllowed" type="xs:boolean">
		<xs:annotation>
			<xs:documentation xml:lang="en">Boolean indicating whether user is allowed to book materials in local system</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userCardLost" type="xs:boolean">
		<xs:annotation>
			<xs:documentation xml:lang="en">Boolean indicating whether user has lost user card</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userCategoryCode" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifier of a user category</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userCategoryName" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">User category</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userCheck">
		<xs:annotation>
			<xs:documentation xml:lang="en">The parameters of the userCheckResponse</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:userFound"/>
				<xs:element ref="or:userPinCodeOk" minOccurs="0"/>
				<xs:element ref="or:userBlocked" minOccurs="0"/>
				<xs:element ref="or:userCardLost" minOccurs="0"/>
				<xs:element ref="or:userHasLeft" minOccurs="0"/>
				<xs:element ref="or:userValid" minOccurs="0"/>
				<xs:element ref="or:userIsInMunicipal" minOccurs="0"/>
				<xs:element ref="or:userOrderAllowed" minOccurs="0"/>
				<xs:element ref="or:userBookingAllowed" minOccurs="0"/>
				<xs:element ref="or:userEmail" minOccurs="0"/>
				<xs:element ref="or:userCategoryCode" minOccurs="0"/>
				<xs:element ref="or:userCategoryName" minOccurs="0"/>
				<xs:element ref="or:agencyCounter" minOccurs="0"/>
				<xs:element ref="or:userBirthYear" minOccurs="0"/>
				<xs:element ref="or:userSex" minOccurs="0"/>
				<xs:element ref="or:userAge" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="userCity" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">User's city</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userCoName" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">User's c/o name</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userEmail" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">User's e-mail adress</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userError" type="or:userErrorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Errors related to requests about user info</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userFeesTotal">
		<xs:annotation>
			<xs:documentation xml:lang="en">total amount of money that a user owes the library, including userFinesTotal</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userFirstName" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">User's first name</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userFound" type="xs:boolean">
		<xs:annotation>
			<xs:documentation xml:lang="en">Boolean indicating whether user is found in local system. If false, no other elements in userCheckResponse will be returned</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userHasLeft" type="xs:boolean">
		<xs:annotation>
			<xs:documentation xml:lang="en">Boolean indicating whether user is no longer associated with the agency</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userId" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifier of user in the local system (often cpr)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userInfo">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about user (adress, reservation/booking rights, notes etc.)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:userFirstName"/>
				<xs:element ref="or:userLastName"/>
				<xs:element ref="or:userCategoryName"/>
				<xs:element ref="or:userAddress"/>
				<xs:element ref="or:userPostCode"/>
				<xs:element ref="or:userCity"/>
				<xs:element ref="or:userVillage" minOccurs="0"/>
				<xs:element ref="or:userTelephone" minOccurs="0"/>
				<xs:element ref="or:userAttName" minOccurs="0"/>
				<xs:element ref="or:userCoName" minOccurs="0"/>
				<xs:element ref="or:userPinCode"/>
				<xs:element ref="or:userEmail" minOccurs="0"/>
				<xs:element ref="or:agencyCounter"/>
				<xs:element ref="or:userOrderAllowed"/>
				<xs:element ref="or:userBookingAllowed"/>
				<xs:element ref="or:userFeesTotal"/>
				<xs:element ref="or:userMobilePhone" minOccurs="0"/>
				<xs:element ref="or:userNote" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="userIsInMunicipal" type="xs:boolean">
		<xs:annotation>
			<xs:documentation xml:lang="en">Boolean indicating whether user is a citizen of agency's municipal</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userLastName" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">User's family name</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userMobilePhone" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">User's mobile phone number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userNote">
		<xs:annotation>
			<xs:documentation xml:lang="en">Note on user</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:userNoteDate"/>
				<xs:element ref="or:userNoteText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="userNoteDate" type="xs:date">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date of a note</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userNoteText" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Text of a note</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userPaymentError" type="or:userPaymentErrorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Error messages related to userPaymentRequest</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userPaymentOk">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicator that userPaymentRequest is accepted</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userPinCode" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">User's pin code in local system</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userPinCodeOk" type="xs:boolean">
		<xs:annotation>
			<xs:documentation xml:lang="en">Boolean indicating whether the user's pincode is ok</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userPinCodeOld" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">User's current pin code (used for pin code change)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userPinCodeNew" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">User's new pin code (used for pin code change)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userPostCode" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">User's post code</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userPreReturnReminder" type="or:userPreReturnReminderType">
		<xs:annotation>
			<xs:documentation xml:lang="en">How the user wants to be notified about loans shortly due</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userOrderAllowed" type="xs:boolean">
		<xs:annotation>
			<xs:documentation xml:lang="en">Boolean indicating whether user is allowed to reserve materials in local system</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userSex" type="or:userSexType">
		<xs:annotation>
			<xs:documentation xml:lang="en">User's sex</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userStatus">
		<xs:annotation>
			<xs:documentation xml:lang="en">Details about user's status</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="or:userInfo"/>
				<xs:element ref="or:fines" minOccurs="0"/>
				<xs:element ref="or:loans" minOccurs="0"/>
				<xs:element ref="or:orders" minOccurs="0"/>
				<xs:element ref="or:bookings" minOccurs="0"/>
				<xs:element ref="or:illOrders" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="userTelephone" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">User's telephone number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userValid" type="xs:boolean">
		<xs:annotation>
			<xs:documentation xml:lang="en">Boolean indicating whether user card is valid</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userVillage" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">User's village</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="agencyErrorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="authentication_error"/>
			<xs:enumeration value="unknown agencyId"/>
			<xs:enumeration value="cannot reach local system"/>
			<xs:enumeration value="No counters found"/>
			<xs:enumeration value="No holdings found"/>
			<xs:enumeration value="cannot decode answer"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="bookingStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="deficit"/>
			<xs:enumeration value="closed"/>
			<xs:enumeration value="retained"/>
			<xs:enumeration value="back order"/>
			<xs:enumeration value="on loan"/>
			<xs:enumeration value="partly returned"/>
			<xs:enumeration value="partly on loan"/>
			<xs:enumeration value="partly retained"/>
			<xs:enumeration value="active"/>
			<xs:enumeration value="registered"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="bookingErrorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="overbooking"/>
			<xs:enumeration value="counter does not exist"/>
			<xs:enumeration value="bookingStartDate must before bookingEndDate"/>
			<xs:enumeration value="bookingCount must be 1 or more"/>
			<xs:enumeration value="normal period of booking exceeded"/>
			<xs:enumeration value="number of fetched copies exceeds number of ordered copies"/>
			<xs:enumeration value="booking can not be deleted"/>
			<xs:enumeration value="undefined error"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cancelOrderErrorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="booking, not cancelled"/>
			<xs:enumeration value="ILL, not found"/>
			<xs:enumeration value="ILL, not cancelled"/>
			<xs:enumeration value="system error"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fineTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="compensation"/>
			<xs:enumeration value="first recall"/>
			<xs:enumeration value="second recall"/>
			<xs:enumeration value="third recall"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="illStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="new"/>
			<xs:enumeration value="unknown user"/>
			<xs:enumeration value="unknown provider agency"/>
			<xs:enumeration value="created"/>
			<xs:enumeration value="ordered"/>
			<xs:enumeration value="can not be delivered"/>
			<xs:enumeration value="dunned"/>
			<xs:enumeration value="recieved"/>
			<xs:enumeration value="on loan"/>
			<xs:enumeration value="renewal wanted"/>
			<xs:enumeration value="renewal requested"/>
			<xs:enumeration value="can not be renewed"/>
			<xs:enumeration value="renewed"/>
			<xs:enumeration value="returned"/>
			<xs:enumeration value="delivered"/>
			<xs:enumeration value="closed"/>
			<xs:enumeration value="deleted"/>
			<xs:enumeration value="passed on"/>
			<xs:enumeration value="cancelled"/>
			<xs:enumeration value="sent"/>
			<xs:enumeration value="due"/>
			<xs:enumeration value="cancel renewal"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="loanRecallTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="late"/>
			<xs:enumeration value="compensation"/>
			<xs:enumeration value="first recall"/>
			<xs:enumeration value="second recall"/>
			<xs:enumeration value="third recall"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="loanRenewableType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="renewable"/>
			<xs:enumeration value="not renewable"/>
			<xs:enumeration value="ILL, renewable"/>
			<xs:enumeration value="ILL, not renewable"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orderItemErrorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ordering not allowed for this user"/>
			<xs:enumeration value="already on loan by user"/>
			<xs:enumeration value="already reserved by user"/>
			<xs:enumeration value="no copies available for reservation"/>
			<xs:enumeration value="loan not allowed for this user category"/>
			<xs:enumeration value="loan not allowed, user too young"/>
			<xs:enumeration value="unspecified error, order not possible"/>
			<xs:enumeration value="system error"/>
			<xs:enumeration value="unknown agencyId"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orderPriorityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="normal"/>
			<xs:enumeration value="high"/>
			<xs:enumeration value="express"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orderTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ILL"/>
			<xs:enumeration value="reservation"/>
			<xs:enumeration value="booking"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="outputTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The types of output that can be returned by the service.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="xml"/>
			<xs:enumeration value="json"/>
			<xs:enumeration value="php"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="renewLoanErrorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="rejected"/>
			<xs:enumeration value="reserved"/>
			<xs:enumeration value="booked"/>
			<xs:enumeration value="copy reserved"/>
			<xs:enumeration value="user is blocked"/>
			<xs:enumeration value="copy not on loan by user"/>
			<xs:enumeration value="copy not on loan"/>
			<xs:enumeration value="copy does not exist"/>
			<xs:enumeration value="ILL, not renewable"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="showComingCopiesType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="coming copies"/>
			<xs:enumeration value="pif notes"/>
			<xs:enumeration value="for all agencies"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="updateOrderErrorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="system error"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="userErrorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="authentication_error"/>
			<xs:enumeration value="cannot reach local system"/>
			<xs:enumeration value="cannot decode answer"/>
			<xs:enumeration value="unknown agencyId"/>
			<xs:enumeration value="unknown userId"/>
			<xs:enumeration value="wrong pin code"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="userPaymentErrorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="unknown userId"/>
			<xs:enumeration value="amount is not the full amount"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="userPreReturnReminderType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="sms"/>
			<xs:enumeration value="email"/>
			<xs:enumeration value="both"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="userSexType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="male"/>
			<xs:enumeration value="female"/>
			<xs:enumeration value="unknown"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
